*~
*.fig
*.mexa64
*.mexw64
*.mexmaci64
*.mexw32
*.o
*.out
simulate_*.m
doc/out/
doc/config/Doxyfile
doc/config/latexextras.sty
doc/config/mtocpp_filter.sh
DRAMToolbox
*.asv
examples/RAmPART_examples/results
*ess_report.mat
old/
examples/HierarchicalOptimization_examples/figures
examples/HierarchicalOptimization_examples/*/analyseResults/*
examples/HierarchicalOptimization_examples/*/results/*
examples/HierarchicalOptimization_examples/RatioNormals/*
examples/HierarchicalOptimization_examples/load_colors_hierarchical.m